<template>
<div>
    <!-- export const actions = {
  initStore({commit}, payload) {
    return this.$axios.$get('/api/categories').then(data => {
      let tempObject = {}
      data.forEach(doc => {
        tempObject[doc._id] = doc
      });
      commit('SET_CATEGORIES', tempObject)
    }).catch(error => {
      console.log(error)
    })
  } -->
</div>
</template>

<script>
    export default {
        name: "oneStudent"
    }
</script>

<style scoped>

</style>