<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Stmain/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" style="  background-color: rgba(0,2,10,0.5) !important; ">
         <table class="table table-bordered" style="background-color: #4A89DC" >
            <thead>
            <h3 style="text-align:center; ">1-жуманын тапшырмалары</h3>
            </thead>
            <tbody>
            <tr>
                <th>04.10.2019</th>
                <th>06.10.2019</th>
                <th>08.10.2019</th>
            </tr>
            <tr>
                <td><h6>Тема:Тендемелер</h6><br>
                    N:95
                </td>
                <td><h6>Тема:Туунду</h6><br>
                    N:195
                </td>
                <td><h6>Тема:Матрица</h6><br>
                    N:905
                </td>
            </tr>
            <tr>
                <td><h6>Тема:Туунду</h6><br>
                    N:195
                </td>
                <td><h6>Тема:Тендемелер</h6><br>
                    N:95
                </td>
                <td><h6>Тема:Тендемелер</h6><br>
                    N:95
                </td>

            </tr>
            <tr>
                <td><h6>Тема:Матрица</h6><br>
                    N:905
                </td>
                <td><h6>Тема:Тендемелер</h6><br>
                    N:95
                </td>
                <td><h6>Тема:Тендемелер</h6><br>
                    N:95
                </td>
            </tr>
            </tbody>
         </table>
     </div>

    </div>

</div>
</div>
</template>
<script>
import MainHeader from '@/components/MainHeader'
import Stmain from '@/components/Student/Stmain'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Stmain,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


