<template>
<div>
    <MainHeader/>
    <div class="container" >
         <div class="row">
            <div class="col-3" >
                <Stmain/>
            </div>
        <!------------------------------------------------------------------------------------------------------------------------->
           <div class="col-sm-9" style="padding-top: 20px; " >
             <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 25px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  жеке маалымат системасына кош келдиниз  ! </h5>
             <div class="row"style="margin-left: 10px;   margin-top: 20px;"  >
                    <div class="col-9" >
                        <!--<table class="table table-bordered  table-dark ">-->
                            <!--<thead style="text-align: center">-->
                            <!--<h2 style="text-align: center">Жеке маалыматтары</h2>-->

                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr >-->
                                <!--<td class="td1">Аты</td>-->
                                <!--<td class="td2">{{info.name_student}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="td1">Фамилиясы</td>-->
                                <!--<td class="td2">{{info.surname_student}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="td1">E-почта</td>-->
                                <!--<td class="td2">{{info.email}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="td1">Классы</td>-->
                                <!--<td class="td2">{{info.klass}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="td1">Ата-энесинин аты-жону</td>-->
                                <!--<td class="td2">{{info.name_parent}}-->
                                <!--<br>{{info.surname_parent}}</td>-->

                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <table class="table " style="color: white;background-color: rgba(0,0,51,0.9);border: 1px dotted  white;" >
                            <thead>
                            </thead>
                            <tbody>
                            <tr>

                                <td >Аты</td>
                                <td>{{info.name_student}}</td>
                            </tr>
                            <tr>

                                <td>Фамилиясы</td>
                                <td>{{info.surname_student}}</td>

                            </tr>
                            <tr>
                                <td>E-почта</td>
                                <td >{{info.email}}</td>
                            </tr>
                            <tr>
                                <td >Классы</td>
                                <td>{{info.klass}}</td>
                            </tr>
                            <tr>
                                <td >Ата-энесинин аты-жону</td>
                                <td >{{info.name_parent}}
                                <br>{{info.surname_parent}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-3"  >
                    surot
                    </div>
                </div>
          
            </div>

        </div>
    </div>

</div>
</template>
<script>
import Stmain from '@/components/Student/Stmain'
import MainHeader from '@/components/MainHeader'
import axios from 'axios'


export default {
    components: {
        Stmain, MainHeader
    },
    data() {
        return {
            info:[],
            klass: null
        }
    },
    methods: {},
    mounted() {
                // axios
                //     .get('http://ctmax.d-oracle.com/videos/')
                //     .then(response => (this.info = response));
        this.info=this.$store.state.StudentInfo;
    }
}

</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    tr:hover{
        background-color:  rgba(0,0,51,1);
        color:  whitesmoke;
    }

</style>
