<template>
    <div>
        <MainHeader/>
        <div class="container" >

            <div class="row">
                <div class="col-3" >
                    <Stmain/>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------->
                <div class="col-sm-9 " style="margin-top: 20px;" >
                                   <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 30px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  жеке маалымат системасына кош келдиниз  ! </h5>

                    <div class="row" style="   border: 4px dotted  white;padding-bottom:10px;margin-top:23px;background-color: rgba(0,0,51,0.8); !important; text-align:left; padding-left: 5%;padding-right: 5%;margin-left: 30px;margin-right: 3px">
                            <div class="divi"> Биз ата-энелерге,окуучуларга, мугалимдерге коп маалыматтарды оз убагында жана оной эле жетишуусуно мумкунчулук жаратабыз.
                            Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээ.
                            Ал эми мугалимдер болсо, окуучулардын бааларын, катышууларын,ташырмаларын кошо алат. Биз менен бирге болунуздар!
                            Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээ.
                            </div>

                        <router-link :to="'SKundoluk_info'" id="myBtn">Кененирээк маалымат <i class="fa fa-video-camera" aria-hidden="true"></i> </router-link><br>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>
<script>
    import Stmain from '@/components/Student/Stmain'
    import MainHeader from '@/components/MainHeader'

    export default {
        data() {
            return {
            }
        },
        methods:{
        },
        components: {
            Stmain,MainHeader
        }
    }
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';

    #myBtn {
        width: 220px;
        margin: auto;
        border: 2px dotted  white;
        font-size: 18px;
        background-color: rgba(0,0,51);
        color: #fff;
        cursor: pointer;
        text-decoration: none;

    }

    #myBtn:hover {
        background-color: rgb(21, 14, 81);

        color: white;
    }
 .divi{
   margin-left: 40px;
   margin-right: 40px;
   padding: 0px;
   margin-top: 20px;
   color:white;
   font-size: 120%;

 }
</style>


