<template>
    <div>
        <MainHeader/>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <Stmain/>
                </div>
                <div class="col-sm-9" style="margin-top: 20px">
                  <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 30px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  жеке маалымат системасына кош келдиниз  ! </h5>


                  <div class="row" style="margin-top: 20px;margin-left: 30px;margin-right: 5px " >
                    <div class="col col1" style="">
                      <div class=" head">  <div class=" "> Day</div>  <div class=" ">N</div></div>
                      <div class=" sabaktar">8-00: 9-45</div>
                      <div class=" sabaktar">8-00 9-45</div>
                      <div class=" sabaktar">8-00 9-45</div>
                      <div class=" sabaktar">8-00 9-45</div>
                      <div class=" sabaktar">8-00 9-45</div>
                      <div class=" sabaktar">8-00 9-45</div>
                    </div>
                    <div class="col col1" style="">
                    <div class=" head">Дуйшонбу</div>
                    <div class=" sabaktar">{{day[0].lesson_name}}</div>
                    <div class=" sabaktar">{{day[1].lesson_name}}</div>
                    <div class=" sabaktar">{{day[2].lesson_name}}</div>
                    <div class=" sabaktar">{{day[3].lesson_name}}</div>
                    <div class=" sabaktar">{{day[4].lesson_name}}</div>
                    </div>
                    <div class="col col1" style="">
                      <div class=" head">Шаршенби</div>
                      <div class=" sabaktar">{{day2[0].lesson_name}}</div>
                    </div>

                    <div class="col col1" style="">
                      <div class=" head"> Шейшенби </div>
                      <div class=" sabaktar">{{day3[0].lesson_name}}</div>
                      <div class=" sabaktar">{{day3[1].lesson_name}}</div>

                    </div>
                    <div class="col col1"style="">
                      <div class=" head"> Бейшенби </div>
                      <div class=" sabaktar">{{day4[0].lesson_name}}</div>

                    </div>
                    <div class="col col1" style="" v-for="(item,index) in day5">
                      <div class=" head"> Жума </div>
                      <div class=" sabaktar">{{day5[index].lesson_name}}</div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Stmain from '@/components/Student/Stmain'
    import MainHeader from '@/components/MainHeader'
    import {mapGetters} from 'vuex';
    export default {
      components: {
        Stmain,MainHeader
      },
        data() {
            return {
              day:[],
              day1:[],
              day2:[],
              day3:[],
              day4:[],
              day5:[],
            }
        },
        methods:{
        },
      mounted() {
        // axios
        //     .get('http://ctmax.d-oracle.com/videos/')
        //     .then(response => (this.info = response));
        this.day = this.$store.getters.table.day1;
        console.log('day1: ', this.$store.getters.table.day1);
        this.day2 = this.$store.getters.table.day2;
        this.day3=this.$store.getters.table.day3;
        this.day4=this.$store.getters.table.day4;
        this.day5=this.$store.getters.table.day5;

        console.log('BBBB: ', this.day);

        var i=1
          for(var key in this.day){
            if(this.day[key].number===i){
              this.day1[key]=this.day[key].lesson_name
              i++;
            }
            else{
              this.day1[key]="0"
            }
          }
        console.log('day1: ', this.day1);
      },

      computed: {
        ...mapGetters([
          'table',

        ]),
      },
    //

    }
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    .sabaktar{

         border: 2px dotted  white;
         color: white;

         background-color: rgba(0,0,51,0.8);
         height: 60px;
         margin-right: 0px;
         margin-left: 0px;
       }
    .head{


      color: white;

      background-color: rgba(0,0,51,0.8);
      height: 60px;
      margin-right: 0px;
      margin-left: 0px;
    }
    .col1{
      margin: 0px;
      padding: 0px;
    }
    .sabaktar:hover{
      background-color: rgba(0,0,51);
    }
</style>
