<template>
  <div>
    <MainHeader/>
    <div class="container" >

      <div class="row">
        <div class="col-3" >
          <Stmain/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" >
          <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 30px; margin-top: 20px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  Катышууну системасына кош келдиниз  ! </h5>

          <div class="row " style="margin-top: 20px;margin-left: 25px;" v-for="item in weeks" >
            <div class="col-sm-3 sabaktar " >
              <a @click="WeekId(item.id_week)"href="#" style="text-align: center;"><h3>week {{item.week}}</h3></a>
            </div>
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>орус тили</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar" >-->
<!--              <a href="#" style="text-align: center;"><h3>математика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>физика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>химия</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar" >-->
<!--              <a href="#" style="text-align: center;"><h3>тарых</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>физика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>химия</h3></a>-->
<!--            </div>-->

          </div>
        </div>

      </div>

    </div>
  </div>
</template>
<script>
  import Stmain from '@/components/Student/Stmain'
  import MainHeader from '@/components/MainHeader'
  import {mapGetters} from 'vuex';
  export default {
    components: {
      Stmain,MainHeader
    },
    data() {
      return {
      }
    },
    methods:{
    WeekId(){

    }
    },
    computed : {
      ...mapGetters(['weeks']),
      // Другие вычисляемые свойства
    },



  }
</script>
<style lang="">
  @import 'bootstrap/dist/css/bootstrap.min.css';
  .sabaktar{
    border-radius: 12px;
    border: 2px dotted  white;
    color: white;

    background-color: rgba(0,0,51,0.8);
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .sabaktar h3{
    color: white;

  }
  .sabaktar a{
    text-decoration: none;
  }
  .sabaktar:hover{
    background-color: rgba(0,0,51);
  }
</style>


