<template>
   <div>
     <MainHeader/>
    <div class="container" >

    <div class="row">
        <div class="col-3" >
            <Smenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
            
                
    <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">

        <div class="col-9">
            <h3 style="text-align: center">Жеке маалыматтары    </h3>
            <table class="table table-bordered ">
                <thead >
                                                           
                </thead>
                <tbody>
                <tr>

                    <td class="td1">Номери</td>
                    <td class="td2">1604.01004</td>
                </tr>

                <tr>
                <td class="td1"> Аты</td>
                <td class="td2"> Бегимай</td>
                </tr>

                <tr>

                    <td class="td1">Фамилиясы</td>
                    <td class="td2">Асанбекова</td>
                </tr>
               
                
                 <tr>

                    <td class="td1">Классы</td>
                    <td class="td2">7-класс</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3" >
      <img src="img/3.jpg" alt="okuuchu" style="width:200px">
        </div>

    </div>
          
        </div>

    </div>

</div>
   </div>
</template>
<script>
import Smenu from '@/components/supervisor/Smenu'
import MainHeader from '@/components/MainHeader'
export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Smenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    img {
  border-radius: 50%;
}
</style>