<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
          <table class="table table-bordered ">
                <thead >
                <h3 style="text-align: center">Жеке маалыматтары</h3>
                </thead>
                <tbody>
                <tr>
                <td class="td1">Аты</td>
                <td class="td2">{{info.name_parent}}</td>
                </tr>
                <tr>

                    <td class="td1">Фамилиясы</td>
                    <td class="td2">{{info.surname_parent}}</td>
                </tr>
                <tr>

                    <td class="td1">e-mail</td>
                    <td class="td2">{{info.email}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'

export default {
    components: {
        Pmenu,MainHeader
    },
     data() {
    return {
        info:[],
    }
  },
  methods:{
    },
    mounted() {
        // axios
        //     .get('http://ctmax.d-oracle.com/videos/')
        //     .then(response => (this.info = response));
        this.info=this.$store.state.ParentInfo;
    }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


