<template>
<footer>                                       
<div class="footer" >
    <p>Footer</p>
</div>
</footer>
</template>

<script>
export default {
    
}
</script>
<style lang="" scoped>
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color:  rgba(0,0,51,0.6) !important;*/
    color: white;
    text-align: center;
}
</style>
