<template>
<div>
    <MainHeader/>
<div class="container">
    <div class="row">
            <div class="col-sm-3">
                <TMenu/>
            </div>
            <div class="col-sm-9" style="background-color: rgba(0,2,10,0.5) !important; padding-top:2%; margin-top:3%;">
                <div class="row" >
                    <div class="col-sm-6" style="border:1px solid; padding-bottom: 50px; padding-top: 50px;">
                        <router-link  to="/Homjumalar" style="text-align: center;"><h3>1-Чейрек</h3></router-link>
                    </div>
                    <div class="col-sm-6" style="border:1px solid; padding-bottom: 50px; padding-top: 50px;">
                        <router-link  to="/Homjumalar" style="text-align: center;" ><h3>2-Чейрек</h3></router-link>
                    </div>
                    <div class="col-sm-6" style="border:1px solid; padding-bottom: 50px; padding-top: 50px; ">
                        <router-link  to="/Homjumalar" style="text-align: center;" ><h3>3-Чейрек</h3></router-link>
                    </div>
                    <div class="col-sm-6" style="border:1px solid; padding-bottom: 50px; padding-top: 50px;">
                        <router-link  to="/Homjumalar" style="text-align: center;" ><h3>4-Чейрек</h3></router-link>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'

import MainHeader from '@/components/MainHeader'
export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>