<template>
<div>
    <MainHeader/>
    <div class="container">
    <div class="row">
            <div class="col-sm-3">
                <TMenu/>
            </div>
            <div class="col-sm-9"  style="margin-top:1.7%;">
        <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
            <div class="col-sm-5" style="margin-top:5.5%;">
                <table class="table table-bordered  table-dark ">
                    <thead>
                    <h3 style="text-align:center">1-чейректин жумалары</h3>
                    </thead>
                    <tbody>
                    <tr>
                        <td><router-link  to="/T_homework">1-жума</router-link></td>
                        <td>2-жума</td>
                        <td>3-жума</td>
                        <td>4-жума</td>
                    </tr>
                    <tr>
                        <td>5-жума</td>
                        <td>6-жума</td>
                        <td>7-жума</td>
                        <td>8-жума</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5" style="margin-top:5.5%;">
                <table class="table table-bordered  table-dark " >
                    <thead>
                    <h3 style="text-align:center">2-чейректин жумалары</h3>
                    </thead>
                    <tbody>
                    <tr>
                        <td><router-link  to="/T_homework">1-жума</router-link></td>
                        <td>2-жума</td>
                        <td>3-жума</td>
                        <td>4-жума</td>
                    </tr>
                    <tr>
                        <td>5-жума</td>
                        <td>6-жума</td>
                        <td>7-жума</td>
                        <td>8-жума</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <table class="table table-bordered  table-dark " >
                    <thead>
                    <h3 style="text-align:center">3-чейректин жумалары</h3>
                    </thead>
                    <tbody>
                    <tr>
                        <td><router-link  to="/T_homework">1-жума</router-link></td>
                        <td>2-жума</td>
                        <td>3-жума</td>
                        <td>4-жума</td>
                    </tr>
                    <tr>
                        <td>5-жума</td>
                        <td>6-жума</td>
                        <td>7-жума</td>
                        <td>8-жума</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5" >
                <table class="table table-bordered  table-dark " >
                    <thead>
                    <h3 style="text-align:center;" >4-чейректин жумалары</h3>
                    </thead>
                    <tbody>
                    <tr>
                        <td><router-link  to="/T_homework">1-жума</router-link></td>
                        <td>2-жума</td>
                        <td>3-жума</td>
                        <td>4-жума</td>
                    </tr>
                    <tr>
                        <td>5-жума</td>
                        <td>6-жума</td>
                        <td>7-жума</td>
                        <td>8-жума</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
     </div>
    </div>
</div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>