<template>
<div>
    <MainHeader/>
    <div class="container" >
        <div class="row">
            <div class="col-sm-3">
                <TMenu/>
                </div>
                 <div class="col-sm-9" style="margin-top:2.5%; margin-left:" >
                <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
                    <div class="col-sm-9">
                        <div class="col-sm-4 klasstar" style="float:right" >
                          <router-link  to="/Cheyrek" style="text-align: center; "><h3 style="font-size:100px">5</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right" >
                          <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">6</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right" >
                        <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">7</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right" >
                          <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">8</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right" >
                          <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">9</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right"  >
                          <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">10</h3></router-link>
                      </div>
                      <div class="col-sm-4 klasstar" style="float:right"  >
                          <router-link  to="/Homcheyrek" style="text-align: center;"><h3 style="font-size:100px">11</h3></router-link>
                      </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
   
    </div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>