<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-sm-3" >
            <TMenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" style="margin-top:2.5%" >
            <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-9">
            <table class="table table-bordered  table-dark ">
                <thead style="text-align: center">
                <h2 style="text-align: center">Жеке маалыматтары</h2>
                
                </thead>
                <tbody>
                    <tr>
                <td class="td1">Аты</td>
                <td class="td2">Айзаад</td>
                </tr>
                <tr>
                    <td class="td1">Фамилиясы</td>
                    <td class="td2">Арипжанова</td>
                </tr>
                <tr>
                    <td class="td1">E-почта</td>
                    <td class="td2">ayzada@mail.ru</td>
                </tr>
                <tr>
                    <td class="td1">Сабагы</td>
                    <td class="td2">Математика</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3"  >
            <h2 style="text-align:center;margin-top:40px; ">Сурот</h2>
            <img style="margin-left: 50px; " src="https://www.restoclub.ru/uploads/avatar_thumbnail_medium/9/4/3/f/943f1dc340385ff800ccee89d40a9182.jpg">
        </div>

    </div>
        </div>

    </div>

</div>
</div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'
import MainHeader from '@/components/MainHeader'

export default {
     name: 'T_info',
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


